### Temporary files
*.o
*.obj
*.lo
*.la
*.al
*.libs
*.so
*.dylib
*.dll
*.exe
*.out
*.app
*.log
*.cache
*.tmp
*.swp
*.swo
*.DS_Store

### Build directories & CMake files
build/
CMakeFiles/
out/
CMakeCache.txt
cmake_install.cmake
Makefile
compile_commands.json
CMakePresets.json

### VSC files
.vscode/settings.json
.vscode/c_cpp_properties.json
*.code-workspace
.history
/.idea
